@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

* {
  font-family: 'Epilogue', sans-serif;
}

body {
  background-color: #50D890;
}

.navbar {
  background-color: #EFFFFB;
}

.home-content {
  padding-top: 75px;
}

.poem, .poem-type {
  text-align: center;
}

/* Poem textarea style */
textarea {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
}

textarea:focus {
  outline: none;
}

/* Button style */
.square_btn {
  margin-top: 5px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #fff;
  background: #4F98CA;
  border: solid 1px #4F98CA;
  border-radius: 15px;
  transition: .4s;
}

.square_btn:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  color: #fff;
}

.square_btn:active {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
  color: #fff;
}

/* poem type result */
.poem-type > .result {
  background: #fff;
  border-radius: 15px;
  font-size: 20px;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Detection prediction percentage progress bar style */
.progress {
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress-bar {
  background: #4F98CA;
}
